@import "tailwindcss";
@import "./goodTest.css";
@plugin "tailwindcss-animate";

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family:
    var(--font-noto-sans-jp), var(--font-pretendard), system-ui, sans-serif;
}
