@import "tailwindcss";
@import "./theme.css";
@plugin "tailwindcss-animate";

@utility text-2xs {
  font-size: 10px;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
